{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'blog\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

</head>
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a href="{% url 'blog-home' %}" class="navbar-brand mr-4">Django Blog</a>
                <button class="navbar-toggler" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
                </button>   
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a href="{% url 'blog-home' %}" class="nav-item nav-link">Home</a>
                        <a href="{% url 'blog-about' %}" class="nav-item nav-link">About</a>
                    </div>
                    <!-- Navbar Right side -->
                    <div class="navbar-nav nav-link-right">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="nav-item nav-link nav-link-right" >Logout</a>

                        {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link nav-link-right" >Login</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link nav-link-right">Register</a>
                        {% endif %}
                    </div> 
                    
                </div>
            </div>        
        </nav> 
    </header>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div> 
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class="text-muted">You can place any information you would like here</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Lastest Post</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">Etc</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>


       
    <script src="{% static 'blog\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>